<?xml version="1.0" encoding="utf-8" ?>
<modules>
    <module name="Actionneur" version="1.0.1" />
    <module name="Sensor" version="1.0.1" />
    <module name="Thermostat" version="1.0.5" />
    <module name="Mesure" version="1.0.1" />
    <module name="Scenario" version="1.0.3" />
    <module name="Log" version="1.0.1" />
    <module name="Crontab" version="1.0.2" />
    <module name="Configuration" version="1.0.1" />
    <module name="User" version="1.0.1" />
    <module name="Notification" version="1.0.1" />
    <module name="InstalledSetup" version="1.0.1" />
</modules>
