<?xml version="1.0" encoding="utf-8" ?>
<modules>
    <module name="Actionneur" version="1.0.1" />
    <module name="Sensor" version="1.0.1" />
    <module name="Thermostat" version="1.0.4" />
    <module name="Mesure" version="1.0.1" />
    <module name="Scenario" version="1.0.1" />
    <module name="Log" version="1.0.1" />
    <module name="Crontab" version="1.0.1" />
    <module name="Configuration" version="1.0.1" />
    <module name="User" version="1.0.1" />
</modules>
