<?xml version="1.0" encoding="utf-8" ?>
<definitions>
  <define var="login" value="admin" />
  <define var="pass" value="mdp" />
  <define var="cache" value="/var/www/activapi.fr/tmp/cache/" />
  <define var="cacheExpiration" value="3600 seconds" />
  <define var="pdoWinAddress" value="sqlite:E:\xampp\htdocs\html\database\releves.db" />
  <define var="pdoLinAddress" value="sqlite:/var/www/html/database/releves.db" />
</definitions>
