<?xml version="1.0" encoding="utf-8" ?>
<routes>
	<route url="\/activapi.fr\/api\/mesures\/(sensor[0-9]{2}(?:ctn10|dht11|tinfo|therm)id[0-9])-(today|yesterday|week|month)" module="Mesures" action="sensor" vars="id_sensor,day" />
	<route url="\/activapi.fr\/api\/mesures\/(sensor[0-9]{2}(?:ctn10|dht11|tinfo|therm)id[0-9])-([0-9]{4}-[0-9]{2}-[0-9]{2})-([0-9]{4}-[0-9]{2}-[0-9]{2})" module="Mesures" action="sensor" vars="id_sensor,dateMin,dateMax" />
	<route url="\/activapi.fr\/api\/mesures\/add-(sensor[0-9]{2}(?:ctn10|dht11|tinfo|therm)id[0-9])-([-+]?[0-9]*\.?[0-9]*)-?([-+]?[0-9]*\.?[0-9]*)?" module="Mesures" action="insert" vars="id_sensor,temperature,hygrometrie" />

	<route url="\/activapi.fr\/api\/mesures\/get-(sensor[0-9]{2}(?:ctn10|dht11|tinfo|therm)id[0-9])" module="Mesures" action="sensorStruct" vars="radioid" />
	<route url="\/activapi.fr\/api\/mesures\/get-sensors(?:\/)?(thermo|thermostat|teleinfo)?" module="Mesures" action="sensors" vars="categorie"/>

	<route url="\/activapi.fr\/api\/actionneurs\/?(inter|dimmer|multiplug|thermostat)?" module="Actionneurs" action="index" vars="categorie"/>
	<route url="\/activapi.fr\/api\/actionneurs\/add" module="Actionneurs" action="insert" />
	<route url="\/activapi.fr\/api\/actionneurs\/update" module="Actionneurs" action="update" />
	<route url="\/activapi.fr\/api\/actionneurs\/command\/([1-9]|[1-9][0-9]*)\/([0-9]|[0-9][0-9]|[0-2][0-5][0-5])\/?$" module="Actionneurs" action="command" vars="id,etat"/>

	<route url="\/activapi.fr\/api\/scenarios\/?([0-9]*)?" module="Scenarios" action="get" vars="id" />
	<route url="\/activapi.fr\/api\/scenarios\/add" module="Scenarios" action="post"  />
	<route url="\/activapi.fr\/api\/scenarios\/delete" module="Scenarios" action="delete"  />
	<route url="\/activapi.fr\/api\/scenarios\/update" module="Scenarios" action="put"  />
	<route url="\/activapi.fr\/api\/scenarios\/reset" module="Scenarios" action="reset"  />

	<route url="\/activapi.fr\/api\/sequences\/?([0-9]*)?" module="Sequences" action="get" vars="id" />
	<route url="\/activapi.fr\/api\/sequences\/add" module="Sequences" action="post" />
	<route url="\/activapi.fr\/api\/sequences\/delete" module="Sequences" action="delete" />
	<route url="\/activapi.fr\/api\/sequences\/update" module="Sequences" action="put" />

	<route url="\/activapi.fr\/api\/actions\/?([0-9]*)?" module="Actions" action="get" vars="id" />
	<route url="\/activapi.fr\/api\/actions\/add" module="Actions" action="post" />
	<route url="\/activapi.fr\/api\/actions\/delete" module="Actions" action="delete" />
	<route url="\/activapi.fr\/api\/actions\/update" module="Actions" action="put" />

	<route url="\/activapi.fr\/api\/thermostat\/?" module="Thermostat" action="index" />
	<route url="\/activapi.fr\/api\/thermostat\/update" module="Thermostat" action="update" />
	<route url="\/activapi.fr\/api\/thermostat\/log\/([0-9]{4}-[0-9]{2}-[0-9]{2})?-?([0-9]{4}-[0-9]{2}-[0-9]{2})?" module="Thermostat" action="log" vars="dateMin,dateMax"/>
	<route url="\/activapi.fr\/api\/thermostat\/log\/refresh" module="Thermostat" action="refreshLog"/>
	<route url="\/activapi.fr\/api\/thermostat\/planif\/([0-9]*)?" module="ThermostatPlanif" action="index" vars="id"/>
	<route url="\/activapi.fr\/api\/thermostat\/planif\/update" module="ThermostatPlanif" action="update"/>
	<route url="\/activapi.fr\/api\/thermostat\/planifname\/([0-9]*)?" module="ThermostatPlanif" action="name" vars="id"/>
	<route url="\/activapi.fr\/api\/thermostat\/mode\/([0-9]*)?" module="ThermostatModes" action="index" vars="id"/>

	<route url="\/activapi.fr\/api\/node\/toggle\/(on|off)$" module="Node" action="toggle" vars="status"/>
	<route url="\/activapi.fr\/api\/node\/status\/?$" module="Node" action="getStatus" />
	<route url="\/activapi.fr\/api\/node\/log\/?$" module="Node" action="log" />
</routes>
