<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="/vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="bootstrap.php"
         cacheResult="true"
         colors="true"
         verbose="true"
         >
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">.</directory>
        </testsuite>
    </testsuites>


    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
</phpunit>
