<?xml version="1.0" encoding="utf-8" ?>
<definitions>
  <define var="login" value="admin" />
  <define var="pass" value="mdp" />
  <define var="pdoWinAddress" value="sqlite:E:\xampp\htdocs\html\database\releves.db" />
  <define var="pdoLinAddress" value="sqlite:/var/www/html/database/releves.db" />
  <define var="apiWinBaseAddress" value="http://localhost/activapi.fr/" />
  <define var="apiLinBaseAddress" value="http://localhost/activapi.fr/" />
   <define var="apiBaseAddress" value="http://localhost/activapi.fr/" />
</definitions>
