<?xml version="1.0" encoding="utf-8" ?>
<definitions>
    <define var="login" value="admin"/>
    <define var="pass" value="mdp"/>
    <define var="pdoWinAddress" value="sqlite:E:\xampp\htdocs\html\database\releves.db"/>
    <define var="pdoLinAddress" value="sqlite:/var/www/activapi.fr/var/db/releves.db"/>
    <define var="apiWinBaseAddress" value="http://localhost/activapi/"/>
    <define var="apiLinBaseAddress" value="http://localhost/activapi/"/>
    <define var="apiBaseAddress" value="http://localhost/activapi/"/>
    <define var="commandDomainAddress" value="http://localhost/activapi/api/node"/>
    <define var="nodeIP" value="localhost"/>
    <define var="nodePort" value="5901"/>
</definitions>
