<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <route url="\/" module="Home" action="index"/>

    <route url="\/user/login" module="User" action="login" scope="public"/>
    <route url="\/user/register" module="User" action="register" scope="public"/>

    <route url="\/actionneurs" module="Actionneurs" action="index" cached="true"/>
    <route url="\/actionneurs-add" module="Actionneurs" action="edit"/>
    <route url="\/actionneurs-edit-([0-9]+)" module="Actionneurs" action="edit" vars="id"/>
    <route url="\/actionneurs-delete-([0-9]+)" module="Actionneurs" action="delete" vars="id"/>

    <route url="\/sensors" module="Sensors" action="index" cached="true"/>
    <route url="\/sensors-add" module="Sensors" action="edit"/>
    <route url="\/sensors-edit-([0-9]+)" module="Sensors" action="edit" vars="id"/>
    <route url="\/sensors-delete-([0-9]+)" module="Sensors" action="delete" vars="id"/>

    <route url="\/mesures-?([0-9]+)?-?([0-9]+)?" module="Mesures" action="index" vars="page,measuresCount"/>

    <route url="\/graphs(?:-([0-9]{4}-[0-9]{2}-[0-9]{2})-([0-9]{4}-[0-9]{2}-[0-9]{2}))?" module="Graphs" action="index" vars="dateMin,dateMax"/>

    <route url="\/thermostat" module="Thermostat" action="index"/>
    <route url="\/thermostat-log-?([0-9]+)?-?([0-9]+)?" module="Thermostat" action="log" vars="page,logsCount"/>

    <route url="\/thermostat-planif" module="ThermostatPlanif" action="index"/>
    <route url="\/thermostat-planif-add" module="ThermostatPlanif" action="add"/>
    <route url="\/thermostat-planif-edit-([0-9]+)" module="ThermostatPlanif" action="edit" vars="id"/>
    <route url="\/thermostat-planif-delete-([0-9]+)" module="ThermostatPlanif" action="delete" vars="id"/>

    <route url="\/thermostat-modes" module="ThermostatModes" action="index"/>
    <route url="\/thermostat-modes-add" module="ThermostatModes" action="edit"/>
    <route url="\/thermostat-modes-delete-([0-9]+)" module="ThermostatModes" action="delete" vars="id"/>
    <route url="\/thermostat-modes-edit-([0-9]+)" module="ThermostatModes" action="edit" vars="id"/>

    <route url="\/scenarios-?([0-9]*)?\/?" module="Scenarios" action="index" vars="id" />
    <route url="\/scenarios-add" module="Scenarios" action="edit"/>
    <route url="\/scenarios-delete-([0-9]+)" module="Scenarios" action="delete"  vars="id"  />
    <route url="\/scenarios-edit-([0-9]+)" module="Scenarios" action="edit" vars="id"  />

    <route url="\/sequences-?([0-9]*)?\/?" module="Sequences" action="index" vars="id" />
    <route url="\/sequences-add" module="Sequences" action="edit"/>
    <route url="\/sequences-delete-([0-9]+)" module="Sequences" action="delete"  vars="id"  />
    <route url="\/sequences-edit-([0-9]+)" module="Sequences" action="edit" vars="id"  />

    <route url="\/actions-?([0-9]*)?\/?" module="Actions" action="index" vars="id" cached="true" />
    <route url="\/actions-add" module="Actions" action="edit"/>
    <route url="\/actions-delete-([0-9]+)" module="Actions" action="delete"  vars="id"  />
    <route url="\/actions-edit-([0-9]+)" module="Actions" action="edit" vars="id"  />

    <route url="\/console\/?(yesterday)?" module="Console" action="index" vars="period"/>

    <route url="\/crontab-?([0-9]*)?\/?" module="Crontab" action="index" vars="id" />
    <route url="\/crontab-add" module="Crontab" action="edit" />
    <route url="\/crontab-edit-([0-9]+)" module="Crontab" action="edit" vars="id"  />
    <route url="\/crontab-delete-([0-9]+)" module="Crontab" action="delete" vars="id"  />

    <route url="\/configuration" module="Configuration" action="index" />
</routes>
