	
<li id="disconnect">
	<a   class="waves-effect waves-pink waves-ripple">
			<div class="valign-wrapper row">			
				<i class="valign col s2 material-icons">supervisor_account</i>		
				<div class="valign col s10 flow-text">Deconnexion</div>				
			</div>
		</a>
	</li>	
	
<li  id="editMode">
	<a href="edition.php" class="waves-effect waves-pink waves-ripple">
		<div class="valign-wrapper row">			
			<i class="valign col s2 material-icons">edit</i>				
			<div class="valign col s10 flow-text">Edition</div>				
		</div>
	</a>
</li>

	
<li>
	<a id="parametres"  class="waves-effect waves-pink waves-ripple">
			<div class="valign-wrapper row">
					<i class="valign col s2 material-icons ">settings_application</i>
					<div class="valign col s10 flow-text">Paramètres</div>

			</div>
	</a>
</li>
	
<li>
	<a id="scenarios"  class="waves-effect waves-pink waves-ripple">
			<div class="valign-wrapper row">
					<i class="valign col s2 material-icons ">play_arrow</i>
					<div class="valign col s10 flow-text">Scenarios</div>

			</div>
	</a>
</li>

