<li>
    <div class="primaryColor valign-wrapper">
        <a href="/activapi.fr/" class="valign ">
            <div id="titleNav" class="flow-text textOnPrimaryColor">ActivApi</div>
        </a>
    </div>
</li>

<li>
    <a id="accueil" href="/activapi.fr/" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 material-icons">home</i>
            <div class="valign col s10 flow-text">Accueil</div>
        </div>
    </a>
</li>

<li class="divider"></li>

<li><a class="subheader">Gestion</a></li>

<li>
    <a id="actionneurs" href="/activapi.fr/actionneurs" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 material-icons ">settings_power</i>
            <div class="valign col s10 flow-text">Actionneurs</div>
        </div>
    </a>
</li>

<li>
    <a id="sensors" href="/activapi.fr/sensors" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 material-icons ">leak_add</i>
            <div class="valign col s10 flow-text">Sensors</div>
        </div>
    </a>
</li>

<li>
    <a id="scenarios" href="/activapi.fr/scenarios" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 material-icons ">play_arrow</i>
            <div class="valign col s10 flow-text">Scénarios</div>
        </div>
    </a>
</li>

<li class="divider"></li>

<li><a class="subheader">Mesures</a></li>

<li>
    <a id="mesures" href="/activapi.fr/mesures" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 material-icons">list</i>
            <div class="valign col s10 flow-text">Donnees</div>
        </div>
    </a>
</li>

<li>
    <a id="graphs" href="/activapi.fr/graphs" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 material-icons ">assessment</i>
            <div class="valign col s10 flow-text">Graphs</div>
        </div>
    </a>
</li>

<li class="divider"></li>

<li><a class="subheader">Thermostat</a></li>

<li>
    <a id="thermostat" href="/activapi.fr/thermostat" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 material-icons">settings</i>
            <div class="valign col s10 flow-text">Paramètres</div>
        </div>
    </a>
</li>

<li>
    <a id="thermostat-log" href="/activapi.fr/thermostat-log" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 material-icons">list</i>
            <div class="valign col s10 flow-text">Log</div>
        </div>
    </a>
</li>

<li>
    <a id="thermostat-planif" href="/activapi.fr/thermostat-planif" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 mdi mdi-timetable"></i>
            <div class="valign col s10 flow-text">Planif</div>
        </div>
    </a>
</li>

<li>
    <a id="thermostat-modes" href="/activapi.fr/thermostat-modes" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 mdi mdi-table"></i>
            <div class="valign col s10 flow-text">Modes</div>
        </div>
    </a>
</li>

<li class="divider"></li>

<li><a class="subheader">Outils</a></li>

<li>
    <a id="console" href="/activapi.fr/console" class="waves-effect waves-pink waves-ripple">
        <div class="valign-wrapper row">
            <i class="valign col s2 mdi mdi-table"></i>
            <div class="valign col s10 flow-text">Console</div>
        </div>
    </a>
</li>

<footer style="height: 100px;"></footer>
